<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>
</head>
<body>
<h2>Добавление книги</h2>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название книги</label><br>
            <input type="text" name="title" />
        </p>
        <p>
            <label>Введите автора</label><br>
            <input type="text" name="author" />
        </p>
        <p>
            <label>Введите цену</label><br>
            <input type="text" name="price">
        </p>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>
