<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>
<div>
    <h2>Список заказчиков и их книги</h2>
    <table>
        <thead>
        <tr>
            <th>Фамилия заказчика</th>
            <th>Книги</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.surname }}</td>
                <td>
                    <ul>
                        {% for book in order.books.all %}
                            <li>
                                {{ book.title }} — {{ book.author }}
                            </li>
                        {% empty %}
                            <li>Книг нет</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan=>Заказов пока нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="create_order">Добавить заказчика</a>
    </p>
</div>
</body>
</html>
